/* .hero {
  display: block;
  box-sizing: border-box;
  height: 95vh;
  background-color: #dc3d4a15;
  clip-path: ellipse(95% 100% at 60% 0%);
} */

.hero {
  display: block;
  box-sizing: border-box;
  /* min-height: 95vh; */
  background-color: #dc3d4a15;
  clip-path: ellipse(90% 100% at 50% 0%);
}

@media screen and (max-width: 1024px) {
  .hero {
    clip-path: none;
  }
}
